//- includes/modal.pug
#overlay
#modal-contents
  div
    label#title-text #{title}
    button#close ×
  #stage-zone
    #question-zone
      p#question-display
    input(type="text")#answer-text
    p#answer-button.button 英作文を入力したら Enterキー または このボタン を押してください
    #judge-zone
      p#judge-display
    #cheat-zone
      p#cheat-button.button カンニングボタン
      p#cheat-display
  #result-zone
    p#result-display
    if user
      p#record-button.button.result-btn 結果を記録する
    p#incorrect-retry-button.button.result-btn 間違えた問題に再チャレンジ
    p#incorrect-check-button.button.result-btn 間違えた問題を見る
    p#retry-button.button.result-btn もう一度最初からやる
    p#stage-select-button.button.result-btn ステージ選択画面に戻る
    p#index-button.button.result-btn ホームに戻る
  #incorrect-display-zone
    p#incorrect-display
    p#done.button.result-btn 確認したので戻る

input#sentences(type="hidden" data-sentences=sentences)
if user
  input#userid(type="hidden" data-userid=user.id)
  input#csrf(type="hidden" name="_csrf" value!=csrfToken)
input#course(type="hidden", data-course=course, data-title=title)
