//- includes/modal.pug
#overlay
#modal-contents
  div
    #{title}
    button#close ☓
  #stage-zone
    #question-zone
      p#question-display
    input#answer-text(type="text")
    br
    button#answer-button 英作文を入力したら Enterキー または このボタン を押してください。
    #judge-zone
      p#judge-display
    #cheat-zone
      p
        button#cheat-button.btn.hidden カンニングボタン
      p#cheat-display.hidden
  #result-zone
    p#result-display
    if user
      button#record-button 結果を記録する
    button#retry-button.result-btn もう一度最初からやる
    button#incorrect-retry-button.result-btn 間違えた問題に再チャレンジ
    button#incorrect-check-button.result-btn 間違えた問題を見る
    button#stage-select-button.result-btn #{title}に戻る
    button#index.button.result-btn(onclick="location.href='index.html'") トップページに戻る
  #incorrect-display-zone
    #incorrect-display
    button#done 確認したので戻る

input#sentences(type="hidden" data-sentences=sentences)
if user
  input#userid(type="hidden" data-userid=user.id)
input#course(type="hidden", data-course=course)
