extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{record.user.username} さんの挑戦した記録詳細
    div.card-body
      p 挑戦したコース: #{record.courseText} - #{record.stageText}
      p 挑戦した問題数: #{record.count}問
      p 正解: #{record.correct}問
      p 不正解: #{record.incorrect}問
      if record.correctRate == 100
        p.text-danger 正解率: #{record.correctRate}％
      else
        p 正解率: #{record.correctRate}％
      p 記録日時: #{record.formattedRecordedAt}

  if incorrectAll.length > 0
    div.card.my-3
      div.card-header
        h4 間違えた問題一覧
      div.card-body
        each incorrect in incorrectAll
          p 出題ステージ: #{incorrect.stageText}
          p 問題: #{incorrect.formattedQuestion}
          p あなたの解答: #{incorrect.formattedYourAnswer}
          p 解答例: #{incorrect.formattedCorrectAnswer}
          hr

  a(href="/records").form-control.text-primary.my-3 記録一覧ページに戻る
