extends layout

block content
  input#select-value(type="hidden" data-selects=selects)

  form(method="post", action="/sentences/one")
    div
      h5 学年
      select#post-grade(name="grade")
        option(value="1" selected="") #{grades.text1}
        option(value="2") #{grades.text2}
        option(value="3") #{grades.text3}
    div
      h5 ステージ
      select#post-stage(name="stage")
        each select in selects
          if select.grade==1
            option(value=select.stage) #{select.text}
    div
      h5 和文
      input(type="text" name="question")
    div
      h5 英文
      input(type="text" name="answer")
    button(type="submit") 問題文をつくる

  if user.username==='klqw'
    form(method="post", action="/sentences/bulk")
      div
        h5 一気に登録
        textarea(name="bulktext")
      button(type="submit") 問題文をつくる
