extends layout

block content
  - var hasRecord = records.length > 0
  if hasRecord
    h3.my-3 #{user.username} さんの記録一覧
    table.table
      tr
        th 挑戦したステージ
        th 記録日時
        th  
      each record in records
        tr
        td
          a(href=`/records/${record.recordId}`) #{record.courseText} - #{record.stageText}
        td #{record.formattedRecordedAt}
        td
          form(method="post", action=`/records/${record.recordId}?delete=1`)
            button(type="submit").btn.btn-danger.btn-sm この記録を削除する
  else
    p まだ記録はありません
