extends layout

block content
  - var hasRecord = records.length > 0
  if hasRecord
    h3.my-3 #{user.username} さんの記録一覧
    table.table
      tr
        th 挑戦したステージ
        th 記録日時
      each record in records
        tr
        td
          a(href=`/records/${record.recordId}`) #{record.courseText} - #{record.stageText}
        td #{record.formattedRecordedAt}
  else
    p まだ記録はありません
