extends layout

block content
  p#select-header ステージを選択してください。
  ul#tabs
    li.select #{tabs.text1}
    li #{tabs.text2}
    li #{tabs.text3}
  .content-wrap
    each button in buttons
      if button.grade==1
        button.open.open-select.button(data-grade=button.grade, data-stage=button.stage) #{button.text}
  .content-wrap.disp-none
    each button in buttons
      if button.grade==2
        button.open.open-select.button(data-grade=button.grade, data-stage=button.stage) #{button.text}
  .content-wrap.disp-none
    each button in buttons
      if button.grade==3
        button.open.open-select.button(data-grade=button.grade, data-stage=button.stage) #{button.text}

  include includes/modal.pug
