extends layout

block content
  div
    a(href="/sentences/new").form-control.text-primary.my-3 新しい問題文を作る
  h3.my-3 問題文一覧
  each sentence in sentences
    - var isAdmin = (user.username === 'klqw')
    - var isMine = (sentence.createdBy === parseInt(user.id))
    if (isMine || isAdmin)
      p 問題#{sentence.sentenceId}: #{sentence.question}
      p 解答#{sentence.sentenceId}: #{sentence.answer}
      a.edit-link(href=`/sentences/${sentence.sentenceId}/edit` data-grade=sentence.grade data-stage=sentence.stage) この問題文を編集する
      hr
    else
      p 問題#{sentence.sentenceId}: #{sentence.question}
      p 解答#{sentence.sentenceId}: #{sentence.answer}
      hr
